*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    padding: 20px 0px;
    width: 100vw;
    background-color: dodgerblue;
}

.clearfix::after
{
    content:'';
    clear:both;
    display:table;
}

.contenitore{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.logo,
.nav-accedi{
    width: 20%;
}

.menu{
    width: 60%;
    line-height: 2px;
}

.logo,
.menu{
    float:left;
}

.nav-accedi{
    float:right;
}

ul{
    text-align: center;
}

ul li{
    display: inline-block;
    list-style: none;
    padding-right: 30px;
}

li a{
    color: white;
    text-decoration: none;
}

.button-nav{
    float: right;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
}